body {
    margin: 0;
    overflow: hidden;
  }
  
  .pokemon {
    width: 100px;
    height: 100px;
    background: url('https://img.pokemondb.net/sprites/ruby-sapphire/normal/vileplume.png') 0 0;
    position: absolute;
    animation: animatePokemon 2s linear infinite;
  }
  
  @keyframes animatePokemon {
    0% { transform: translate(0, 0); }
    25% { transform: translate(100px, 0); }
    50% { transform: translate(100px, 100px); }
    75% { transform: translate(0, 100px); }
    100% { transform: translate(0, 0); }
  }